.block-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#blocked-sites-table {
  width: 100%;
  border-collapse: collapse;
}

#blocked-sites-table th,
#blocked-sites-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#blocked-sites-table tr:hover {
  background-color: #f9f9f9;
}
